.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  button {
    padding: 4px 12px;
    border-radius: 5px;
    border: none;
    background: blue;
    color: white;
    margin-top: 15px;
  }
}

.modal {
  background: #000000a8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  // color: white;

  .container {
    position: relative;
    width: 600px;
    height: 500px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4e6d1;

    .modal__box1,
    .modal__box2 {
      width: 47%;
      background: green;
      height: 40%;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
          font-size: 1em;
          color: #f1e6e6;
          font-weight: 500;
        }
      }
      svg {
        font-size: 60px;
      }
      a {
        color: white;
      }
    }
    .modal__box2 {
      background: maroon;
    }

    .close-modal {
      position: absolute;
      top: 2%;
      right: 2%;
      font-size: 29px;
      color: orangered;
      cursor: pointer;
    }
  }
}
